@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar {
  background-color: #0e2954;
}

main .img-card img {
  border-radius: 10%;
}

main .try-me {
  border: 1px none none;
  border-radius: 10px;
  background-color: #0e2954;
  color: white;
}

.welcome {
  background: rgb(247, 249, 252);
  background: linear-gradient(
    180deg,
    rgba(247, 249, 252, 1) 0%,
    rgba(1, 20, 34, 1) 100%
  );
}
