@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
  border: 1px solid black;
} */
/* 
.title {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
} */

.title {
  background-color: aqua;
}

.title-text {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}
