<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>427450846092-s7s8oavml07umcn4q074thipuf7e4p7k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.427450846092-s7s8oavml07umcn4q074thipuf7e4p7k</string>
	<key>API_KEY</key>
	<string>AIzaSyCX0UPbsAJpJXC_sYzJv13xQeUWJpqUEfQ</string>
	<key>GCM_SENDER_ID</key>
	<string>427450846092</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.my.ipond</string>
	<key>PROJECT_ID</key>
	<string>myipond-82c0d</string>
	<key>STORAGE_BUCKET</key>
	<string>myipond-82c0d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:427450846092:ios:c6f3a5fef1e9130fbda4a9</string>
</dict>
</plist>